body {
    background: url(../plantoholic-web-page/pexels-min-an-1454794.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

h1 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

h2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
h3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background: #334d00;
    height: 60px;
    display: flex;
}
#content {
    padding: 35px;
    background: #ffe6cc;
}
img {
    max width: 65%;
    width: 65%;
    height: auto;
}