body {
    background: url(../plantoholic-web-page/pexels-min-an-1454794.jpg) center no-repeat;
    background-size: cover; 
}

h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
h3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav {
    background: #009178;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#content {
    padding: 20px;
    background: #ffe6cc;
}
img {
    width: 500px;
    height: auto;
}
div {
    display: block;
}